{% extends "blogsimple/base.html" %}
{% block main %}
{% for blog in blog_list %}
  {% include "blogsimple/blog_display.html" %}
  <br>
{% endfor %}
<br>
<br>
<!-- Copied from Django documentation --> 
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for pg in paginator.page_range %}
      <a href="?page={{ pg }}">{{ pg }}</a>
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}   
  </span>
</div>
{% endblock %}
